MONGODB_URI=mongodb://customers-contacts-dev:AZMjSfNDXUQ07xt3bjVW3MBuET6uJ4Zhq9aL8zlZ5YdJvOOtSVGZXsnLZuVIcOjtz1TQnqwR8pHoxTi85dMuxQ==@customers-contacts-dev.documents.azure.com:10255/customers-contacts-dev?ssl=true
KEYCLOAK_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiLgN8kGM8zI1gtdsleBOaIy2aKhYMn+pdAaa1s3gQr+/Mf1vtS7sjjVIsrx1684HpHIPOqeA2TlA1ekh/oGwEjDFGX/eyPb1tAo9xRJ16eyEuOCFbC6fuTnpFsormlVFm5zvhDAKL9AdxyB5aB8qpGJFW7NoVkQhBRDjaE5WhBHxFc4BG9MTAYZKuaR5rWZMHz38dJxISR+HdiFAs5X2aCdcXsQ+orONsTntScEOXOPzF/AE6ZV0Qwg97KuJebyQzEJrThTZTTHKPZryMHmUWJsgEeiMad35DcCpXx6SaZVZuguluG5t2RERZ1H5koj0CAFKTIftHxmULnfkXXqAjQIDAQAB
SPECS_URL=/auth/docs
